
.DS_Store
*.xz
sample/
temp/
/data/
__pycache__/
.ipynb_checkpoints/
*.ckpt
presumm_data/
jupyter.lnk
logs/
val_cases.json
train_cases.json
test_cases.json
venv/
model_files/
/results/
